{% extends 'base.html' %}
{% block content %}
<a href="{% url 'view_prescriptions' %}">View My Prescriptions</a>
<h1>Welcome, {{ request.user.username }}</h1>
<h2>Patient Dashboard</h2>

<!-- Additional dashboard content can be added here -->
<br>
<h3>Your Appointments</h3>

{% if appointments %}
    <ul>
        {% for appointment in appointments %}
            <li>
                With {{ appointment.doctor.username }} on {{ appointment.appointment_date }} at {{ appointment.appointment_time }} - Status: {{ appointment.get_status_display }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no appointments.</p>
{% endif %}

{% endblock %}
