<!DOCTYPE html>
<html>
<head>
    <title>SmartCare Surgery</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'user_login' %}">Login</a></li>
                {% else %}
                    <li><a href="{% url 'user_logout' %}">Logout</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'appointments:appointment_list' %}">Bookings</a></li>
                    <li><a href="{% url 'appointments:book_appointment' %}">Make a Booking</a></li> <!-- Link to make a new booking -->


                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
